{% extends "base.html" %}

{% block custom_head_title %}
    Find Interface Form
{% endblock %}

{% block custom_body_heading %}
    Find Interface with IP/MAC Address
{% endblock %}

{% block form_content %}
    {{ form.input_ip_address(id="inputIpAddress", autocomplete="off", class_="form-control mt-2", autofocus="true", placeholder="192.168.1.1 or aa:bb:cc:dd:ee:ff") }}

    <button id="findIpAddButton" class="btn btn-lg btn-primary btn-block mt-4" type="submit">Find</button>

{% if result %}
    <br>
    {{ result }}
    {% endif %}

{% endblock %}